body {
  margin: 0;
}
.App {
  font-family: "Roboto", sans-serif;
  .main-page {
    display: flex;
    .main-page-container {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      justify-content: center;
      .main-page-bonjour {
        width: 800px;
        margin: 30px 0 50px 0;
      }
      .main-page-infos {
        display: flex;
        justify-content: space-around;
        .main-page-graphics {
          background: grey;
          width: 700px;
          height: 400px;
          margin-right: 50px;
          border-radius: 5px;
          .upper-graphics {
            background-color: aqua;
            height: 50%;
          }
          .lower-graphics {
            background-color: green;
            height: 50%;
            display: flex;
            justify-content: space-around;
            align-items: center;
            .average-session {
              background-color: yellow;
              height: 90%;
              width: 31%;
            }
            .radar-stat {
              background-color: red;
              height: 90%;
              width: 31%;
            }
            .radial-chart {
              background-color: orange;
              height: 90%;
              width: 31%;
            }
          }
        }
        .main-page-values {
          color:blue;
        }
      }
    }
  }
}
