.nav-ver-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 80px;
  height: 100vh;
  background: black;
  .nav-ver-img-sport {
    margin: 5px auto;
    img {
      width: 50px;
    }
  }
}
