.nutriment-cards-container {
  width: 200px;
  height: 80px;
  color: whitesmoke;
  display: flex;
  // justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  background: whitesmoke;
  border-radius: 5px;
  .nutriment-cards-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    .nutriment-cards-img {
      margin: 0 15px;
      img {
        width : 50px;
      }
    }
    .nutriment-cards-infos {
      .nutriment-cards-value {
        font-size: 14px;
        color: black;
      }
      .nutriment-cards-value-name {
        color: grey;
        font-size: 10px;
      }
    }
  }
}
