.bonjour-container {
  display: flex;
}
.bonjour-container .bonjour1 {
  margin-right: 15px;
  font-size: 48px;
  font-weight: 500;
}
.bonjour-container .bonjour2 {
  color: red;
  font-size: 48px;
  font-weight: 500;
}

.objectifs {
  margin: 20px 0 20px 0;
}
.objectifs img {
  width: 16px;
  margin-left: 5px;
}

.nav-hor-flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  height: 70px;
  background: black;
}
.nav-hor-flex .nav-hor-logo {
  width: 20vw;
  text-align: left;
  margin-left: 10px;
}
.nav-hor-flex .nav-hor-logo img {
  width: 150px;
}
.nav-hor-flex .nav-hor-flex-link {
  width: 80vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav-hor-flex .nav-hor-flex-link .nav-hor-link {
  color: white;
}

.nutriment-cards-container {
  width: 200px;
  height: 80px;
  color: whitesmoke;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background: whitesmoke;
  border-radius: 5px;
}
.nutriment-cards-container .nutriment-cards-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nutriment-cards-container .nutriment-cards-flex .nutriment-cards-img {
  margin: 0 15px;
}
.nutriment-cards-container .nutriment-cards-flex .nutriment-cards-img img {
  width: 50px;
}
.nutriment-cards-container .nutriment-cards-flex .nutriment-cards-infos .nutriment-cards-value {
  font-size: 14px;
  color: black;
}
.nutriment-cards-container .nutriment-cards-flex .nutriment-cards-infos .nutriment-cards-value-name {
  color: grey;
  font-size: 10px;
}

.nav-ver-container {
  height: 100vh;
  width: 80px;
}
.nav-ver-container .nav-ver-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-content: center;
  background: black;
  height: 60%;
  width: 100%;
}
.nav-ver-container .nav-ver-wrapper .nav-ver-img-sport {
  margin: 5px auto;
}
.nav-ver-container .nav-ver-wrapper .nav-ver-img-sport img {
  width: 50px;
}
.nav-ver-container .nav-ver-infos {
  height: 40%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  margin: auto;
  font-size: 10px;
  background: black;
  width: 100%;
  display: flex;
  justify-content: end;
  align-content: center;
  padding-top: 100px;
}
.nav-ver-container .nav-ver-infos span {
  color: white;
  margin: 50px auto;
}

body {
  margin: 0;
  overflow-y: hidden;
}

.App {
  font-family: "Roboto", sans-serif;
}
.App .main-page {
  display: flex;
  position: relative;
}
.App .main-page .main-page-container {
  display: flex;
  flex-direction: column;
  margin: 30px auto 0 auto;
}
.App .main-page .main-page-container .main-page-infos {
  display: flex;
  justify-content: space-around;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics {
  width: 800px;
  height: 500px;
  margin-right: 50px;
  border-radius: 5px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .upper-graphics {
  background-color: whitesmoke;
  height: 48%;
  border-radius: 5px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .upper-graphics .activity-daily {
  width: 800px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .upper-graphics .activity-daily h3 {
  font-size: 16px;
  margin-left: 20px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .upper-graphics .activity-daily .tooltipActivity {
  width: 50px;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-size: 10px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .lower-graphics {
  height: 48%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .lower-graphics .average-session {
  background-color: red;
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .lower-graphics .average-session .tooltipSessionLength {
  width: 40px;
  text-align: center;
  margin: 0 auto;
  color: black;
  font-size: 10px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .lower-graphics .radar-stat {
  background-color: rgb(44, 43, 43);
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.App .main-page .main-page-container .main-page-infos .main-page-graphics .lower-graphics .radial-chart {
  background-color: whitesmoke;
  height: 95%;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.App .main-page .main-page-container .main-page-infos .main-page-values {
  color: blue;
}
.App .main-page .wrapper-choice {
  display: flex;
  position: absolute;
  top: 30%;
  left: 30%;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.App .main-page .wrapper-choice .info-user-choice {
  font-size: 32px;
  margin: 0 auto;
}
.App .main-page .wrapper-choice .wrapper-button-user-choice {
  display: flex;
  justify-content: center;
}
.App .main-page .wrapper-choice .wrapper-button-user-choice .button-user-choice {
  margin: 20px;
  font-size: 32px;
  padding: 20px 50px;
}

@media only screen and (max-width: 1100px) {
  .main-page-infos {
    display: flex;
    justify-content: space-around;
  }
  .main-page-infos .main-page-graphics {
    width: 800px;
    height: 500px;
    margin-right: 50px;
    border-radius: 5px;
  }
  .main-page-infos .main-page-graphics .upper-graphics {
    background-color: whitesmoke;
    height: 48%;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: end;
  }
  .main-page-infos .main-page-graphics .upper-graphics .activity-daily {
    width: 800px;
  }
  .main-page-infos .main-page-graphics .upper-graphics .activity-daily h3 {
    font-size: 16px;
    margin-left: 20px;
  }
  .main-page-infos .main-page-graphics .upper-graphics .activity-daily .tooltipActivity {
    width: 50px;
    text-align: center;
    margin: 0 auto;
    color: white;
    font-size: 10px;
  }
  .main-page-infos .main-page-graphics .lower-graphics {
    height: 48%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 800px;
  }
  .main-page-infos .main-page-graphics .lower-graphics .average-session {
    background-color: red;
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .main-page-infos .main-page-graphics .lower-graphics .average-session .tooltipSessionLength {
    width: 40px;
    text-align: center;
    margin: 0 auto;
    color: black;
    font-size: 10px;
  }
  .main-page-infos .main-page-graphics .lower-graphics .radar-stat {
    background-color: rgb(44, 43, 43);
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .main-page-infos .main-page-graphics .lower-graphics .radial-chart {
    background-color: whitesmoke;
    height: 95%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
  }
  .main-page-infos .main-page-values {
    color: blue;
  }
}/*# sourceMappingURL=index.css.map */